.overview{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: fit-content;
    background-color: white;
    padding-bottom: 1rem;
    font-size: 10px;
    line-height: 15px;
}
.details{
    max-width: 20rem;
    display: flex;
    align-items: center;
}
.details div{
    margin-right: 10px;
}
.details img{
    width: 20px;
    height: 20px;
}
.overview-card{
    position: relative;
    top: -60px;
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: 90rem;
    margin-left: 10px;
    margin-right: 10px;
}
.study{
    max-width: 25rem;
    height: auto;
}
.study img{
    height: auto;
    width: 100%;
}
.title{
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 15px;
}
.title:hover{
    cursor: pointer;
}
.title_a{
    padding: 1rem;
    font-size: medium;

}
@media screen and (max-width:600px) {
    .overview{
        padding-bottom: 1rem;
    }
    .overview-card{
        top: -70px;
    }   
}