.nav{
    display: flex;
    overflow: hidden;
    z-index: 4;
    color: white;
    font-size: 15px;
    background-color: #171717;
    height: 50px;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.nav_menu{
    display: none;
}

.item{
    justify-content: center;
    display: flex;
    align-items: center;
    flex: 1;
}
.item div{
    margin-right: 10px;
    margin-left: 10px;
}
.logo{
    display: flex;
    padding-left: 25px;
    flex-direction: row;
    align-items: center;
    flex: 1;
}
.logo h3{
    font-weight: 200;
    margin-left: .5rem;
}
.button{
    padding-right: 25px;
}
.button button{
    flex: 1;
    border-radius: 5px;
    background-color: white;
    color: #171717;
}
.button a{
    text-decoration: none;
    color: #171717;
}
.button img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.line_wrapper{
    cursor: pointer;
    font-weight: 200;
}
.line_wrapper div:hover{
    font-weight: 700;
}
.nav_card{
    margin-top: 50px;
    width: fit-content;
    z-index: 3;
    position: fixed;
    background-color: #171717;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.nav_card a{
    margin: .5rem;
}
.nav_menus_select{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.head div{
    padding-right: 1rem;
    padding-left: 1rem;
}
.head{
    color: black;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.head img{
    width: 50px;
    height: auto;
    border-radius: 2rem;
}
.nav_drop{
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}
.back_drop{
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: #171717;
    height: 100vh;
}
@media screen and (max-width:600px) {
    .item{
        display: none;
    }
    .nav{
        position: fixed;
    }
    .logo h3{
        display: none;
    }
    .nav_menu{
        display: flex;
        padding-right: 25px;
    }
    .button{
        display: none;
    }
}