.nav{
    color: white;
    background-image: url('../res//drawable/cover.png');
    /* background-image: url('../res//drawable/bg.png'); */
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.nav_content{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos{
    align-items: center;
    display: flex;
    border-radius: 8px;
    width: fit-content;
    background-color: aliceblue;
    flex-direction: row;
    padding-top: 5px;
}
.logos img{
    width: 30px;
    height: 20px;
}
.button button{
    width: fit-content;
    font-size: 10px;
    margin-top: 10px;
    color: #171717;
    background-color: white;
    margin-bottom: 10px;
}
.details{
    margin-bottom: 4rem;
    flex: 1;
    top: 0;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    margin-left: 2rem;
}
.name{
    font-weight:900;
    font-size: 30px;
}


@media screen and (max-width:600px) {
    .details{
        flex: none;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 0;
    }
    .nav{
        height: 100vh;
        background-image: none;
        background-color: #171717;
    }
}

@media screen and (max-width:1200px) {
    .nav{
        background-image: none;
        background-color: #171717;
    }
}